<ion-header>
  <ion-toolbar>
    <ion-title>
      Juke box
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Choisir un titre</ion-label>
    <ion-select [(ngModel)]="pickedSong" (ionChange)="addToPlayList()">
      <ion-select-option *ngFor="let song of songList" [value]="song">
        <ion-label>{{ song.title }}</ion-label>
      </ion-select-option> 
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <h3>PlayList</h3>
    </ion-list-header>

    
  </ion-list>

</ion-content>
